.footer {
    background-color: #000;
    padding: 30px 0;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    margin-bottom: 25px;
    display: flex;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-align: center;
}

@media (min-width: 540px) {
    .footer__nav {
        flex-direction: row;
    }
}

.footer__nav a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    transition: opacity 0.2s ease-in;
}

.footer__nav a:hover {
    opacity: 0.8;
}

.footer__socials {
    margin-bottom: 25px;
    display: flex;
    column-gap: 31px;
    align-items: center;
}

.footer__socials-link {
    text-decoration: none;
}

.footer__socials-icon {}

.footer__socials-icon path {
    transition: fill 0.2s ease-in;
}

.footer__socials-icon:hover path {
    fill: #F72464;
}

.footer__copyright {
    color: #999;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.footer__copyright p {
    margin: 0;
}